In [5]:
# import libraries for data import
import pandas as pd
import numpy as np

# read csv file using pandas

Marketing_Sales_Data=pd.read_csv("MarketingExpenses_SalesRevenue.csv")
Marketing_Sales_Data

     Social media ads  Print media ads  Google ads  Promotions  Sales revenue
0               180.1             38.1        39.8        46.0           20.4
1               296.7             32.4        34.1         9.1           24.0
2               210.0             13.1        14.8        33.7           21.2
3                28.2             30.4        32.1        50.6           11.8
4               178.2             27.2        28.9        38.8           19.4
..                ...              ...         ...         ...            ...
124             237.6              8.1         9.8        92.1           20.2
125              21.0             42.3        44.0        28.9           11.3
126             209.9              9.9        11.6        26.7           20.5
127             218.5             28.3        30.0        64.9           20.4
128             287.4             15.3        17.0        13.7           23.3

[129 rows x 5 columns]