In [27]:
# import libraries for data import
import pandas as pd
import numpy as np

# read csv file using pandas

Marketing_Sales_Data=pd.read_csv("MarketingExpenses_SalesRevenue.csv")
Marketing_Sales_Data

     Socialmedia_ads  Printmedia_ads  Google_ads  Promotions  Sales_revenue
0              180.1            38.1        39.8        46.0           20.4
1              296.7            32.4        34.1         9.1           24.0
2              210.0            13.1        14.8        33.7           21.2
3               28.2            30.4        32.1        50.6           11.8
4              178.2            27.2        28.9        38.8           19.4
..               ...             ...         ...         ...            ...
124            237.6             8.1         9.8        92.1           20.2
125             21.0            42.3        44.0        28.9           11.3
126            209.9             9.9        11.6        26.7           20.5
127            218.5            28.3        30.0        64.9           20.4
128            287.4            15.3        17.0        13.7           23.3

[129 rows x 5 columns]

In [28]:
import pandas as pd
import numpy as np

# read csv file using pandas
Marketing_Sales_Data=pd.read_csv("MarketingExpenses_SalesRevenue.csv")
Marketing_Sales_Data

# Know the data shape, info and data descriptions
Marketing_Sales_Data.shape
Marketing_Sales_Data.info()
Marketing_Sales_Data.describe()

# Generate the scatter plot for each indepdent variable with respect to sales revenue
import matplotlib.pyplot as plt
import seaborn as sns
#sns.pairplot(Marketing_Sales_Data, x_vars=['Socialmedia_ads','Printmedia_ads','Google_ads','Promotions'], y_vars=['Sales_revenue'], kind='scatter', aspect=1, size=3)
#plt.show()

#Genrate heatmap to check correlation
#sns.heatmap(Marketing_Sales_Data.corr(), cmap='YlGnBu', annot=True)
#plt.show()

# Create the X and Y values
X=Marketing_Sales_Data['Socialmedia_ads']
Y=Marketing_Sales_Data['Sales_revenue']

# split training set and test test
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test= train_test_split(X,Y,train_size=.7,test_size=.3, random_state=100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Socialmedia_ads  129 non-null    float64
 1   Printmedia_ads   129 non-null    float64
 2   Google_ads       129 non-null    float64
 3   Promotions       129 non-null    float64
 4   Sales_revenue    129 non-null    float64
dtypes: float64(5)
memory usage: 5.2 KB